# These artifacts are from the auto generation script. They're safe to ignore.
modules/product.mk
modules/product_copy_files.txt
modules/app_densities.txt
modules/README

# makefile for shared library for kitkat
modules/*/SharedLibrary.mk
